{# empty Twig template #}
<a title="Set Ocupation" class="btn btn-sm btn-default" style="background-color: {{ object.color }}" href="{{ admin.generateObjectUrl('edit', object) }}">
    <i class="fa fa-pencil"></i>
    Edit
</a>
