{# empty Twig template #}

<a title="Book" class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('circuit-availability', object) }}">
    <i class="fa  fa-calendar"></i> 
    Availability
</a>

