<a title="Set Dates and Prices" class="btn btn-sm btn-default delete_link" href="{{ admin.generateObjectUrl('form-circuit-season-dates-price', object) }}">
    <i class="fa fa-cog"></i>
    Season Options
</a>