{# empty Twig template #}
<a title="Set Price" class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('form-circuit-season-dates', object) }}">
        <i class="fa  fa-calendar-plus-o"></i>
       Season Dates
    </a>