/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-jun-2016, 22:30:00
    Author     : denis
*/

.fixed-time .select2-container {
    width: auto !important;
}
.navbar-nav>.notifications-menu>.dropdown-menu>li.header, .navbar-nav>.messages-menu>.dropdown-menu>li.header, .navbar-nav>.tasks-menu>.dropdown-menu>li.header,.dropdown-menu>li.header{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #ffffff;
    padding: 7px 10px;
    border-bottom: 1px solid #f4f4f4;
    color: #444444;
    font-size: 14px;
}
.thumbnail_cart{
    width: 32px;
    height: 32px;
    margin-right: 5px;
    margin-top: 10px;
}
.dropdown-menu > li > a.cart{
    padding: 3px 9px !important;
}
.border-top-gray{
    border-top: 1px solid #CCC;
}
.padding-top-10px{
    padding-top: 10px;
}
.padding-bottom-10px{
    padding-bottom:  10px;
}
.margin-left-40{
    margin-left: 40px;
}
.skin-black .sidebar-menu > li:hover > a, .skin-black .sidebar-menu > li.active > a{
    border-left-color:#367fa9 !important;
}
.typeahead__dropdown, .typeahead__list {
    min-width: 320px !important;
}
.thumbnail_result_findautocompletetype{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 4px;
    transition: border 0.2s ease-in-out 0s;
}
.description_result_findautocompletetype{
    font-size: 13px;
    font-style: italic;
}
.typeahead__field input{
    height: 34px !important;
    border-radius: 0px;
}

.typeahead__container button{
    height: 34px !important;
}
.margin-right-10{
    margin-right: 10px;
}


/* for calendar */
.available{
    background-color: #00a65a;
    color: #fff;
    border-bottom: solid 2px  #fff;
    border-right: solid 2px #fff;
}
.unavailable{
    border-bottom: solid 2px #DD1144;
    border-right: solid 2px #fff;
}
.inrequest{
    background-color: #F3B300;
    border-bottom: solid 2px #fff;
    border-right: solid 2px #fff;
    color: #fff;
}

.paddingLR5{
    padding-left: 5px !important; 
    padding-right: 5px !important; 

}
.border-left-solid{
    border-left: solid 1px #CCC;
}
.fullw{
    width: 100%;
}
.border-solid{
    border: solid 1px #CCC;
}
.hover-background:hover{
    background: #D3D3D3;
}
.selected_room{
    background-color: #00a65a;
    color: #fff;
}
.with100{
    width: 100%;
}
.loading-modal {
    display:    none;
    position:   fixed;
    z-index:    99999999999;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
        url('http://i.stack.imgur.com/FhHRx.gif') 
        50% 50% 
        no-repeat;
}
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loading-modal {
    display: block;
}
.bg-sale-not-atend {
    background-color: #e98a7e !important;
}