{# empty Twig template #}
<a title="Set Availability" class="btn btn-sm btn-default delete_link" href="{{ admin.generateObjectUrl('form-hotel-availability', object) }}">
        <i class="fa fa-calendar"></i>
       Availability
    </a>