{# empty Twig template #}
<a title="Set Price" class="btn btn-sm btn-default delete_link" href="{{ path('admin_daiquiri_admin_hotelprice_form-set-hotel-price',{'id':object.id}) }}">
        <i class="fa fa-dollar"></i>
       Price
    </a>