{# empty Twig template #}
<a title="Set Price" class="btn btn-sm btn-default delete_link" href="{{ admin.generateObjectUrl('form-set-price', object) }}">
        <i class="fa fa-dollar"></i>
       Price
    </a>
        <span class="text-danger"><i class="fa fa-info-circle bg-red-active"></i></span>