{# empty Twig template #}
<div class="text_footer" style=" padding-top: 10px;
     border-top: solid 1px rgb(230,230,230);
     text-align: center;
     font-family: fantasy;
     font-size: 12px;"> 
    <div>{{ 'Thank you very much for choose DAIQUIRI TOURS CUBA' | trans({}, 'index') }}...:)</div>
    <div> DAIQUIRI TOURS CUBA  </div>
    <div>
        <a style="color: #F3B300; text-decoration: none" href="http://www.daiquiricuba.com">www.daiquiricuba.com</a></div>
</div>