<a title="Create Aviabilitity Range" class="btn btn-sm btn-default delete_link" href="{{ admin.generateObjectUrl('form-create-car-availability', object) }}">
    <i class="fa fa-calendar"></i>
    Availability
</a>
