{# empty Twig template #}
<a title="Set Price" class="btn btn-sm btn-default show-services" href="{{ admin.generateObjectUrl('show-all-services-detail', object) }}">
    <i class="fa  fa-plus"></i>
    Show
</a>
   