<div class="bg-darken">
    <div class="container">
        <div class="gap"></div>                
        <h2>Last Minute Deals</h2>
        <div class="row row-wrap">
            <div class="col-md-4">
                <div class="thumb">
                    <header class="thumb-header">
                        <a class="hover-img" href="#">
                            <img src="{{ asset('bundles/daiquirisite/img/last/panorama.jpg') }}" alt="Image Alternative text" title="H10 Panaroma Hotel">
                            <h5 class="hover-title-center">Book Now</h5>
                        </a>
                    </header>
                    <div class="thumb-caption">
                        <ul class="icon-group text-tiny text-color">
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star-half-empty"></i>
                            </li>
                        </ul>
                        <h5 class="thumb-title"><a class="text-darken" href="#">H10 Panorama Hotel</a></h5>
                        <p class="mb0"><small><i class="fa fa-map-marker"></i>Havana, Cuba</small>
                        </p>
                        <p class="mb0 text-darken"><span class="text-lg lh1em text-color">$269</span><small> avg/night</small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumb">
                    <header class="thumb-header">
                        <a class="hover-img" href="#">
                            <img src="{{ asset('bundles/daiquirisite/img/last/vinales1.jpg') }}" alt="Image Alternative text" title="">
                            <h5 class="hover-title-center">Book Now</h5>
                        </a>
                    </header>
                    <div class="thumb-caption">
                        <ul class="icon-group text-tiny text-color">
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star-half-empty"></i>
                            </li>
                        </ul>
                        <h5 class="thumb-title"><a class="text-darken" href="#">Viñales Valey Excursions</a></h5>
                        <p class="mb0"><small><i class="fa fa-map-marker"></i> Pinar del R&iacute;o Cuba</small>
                        </p>
                        <p class="mb0 text-darken"><span class="text-lg lh1em text-color">$176</span><small> avg/day</small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumb">
                    <header class="thumb-header">
                        <a class="hover-img" href="#">
                            <img src="{{ asset('bundles/daiquirisite/img/last/autos.jpg') }}" alt="Image Alternative text" title="Old Car & Professional Driver">
                            <h5 class="hover-title-center">Book Now</h5>
                        </a>
                    </header>
                    <div class="thumb-caption">
                        <ul class="icon-group text-tiny text-color">
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <h5 class="thumb-title"><a class="text-darken" href="#">Old Car & Professional Driver</a></h5>
                        <p class="mb0"><small><i class="fa fa-map-marker"></i> Havana, Cuba</small>
                        </p>
                        <p class="mb0 text-darken"><span class="text-lg lh1em text-color">$299</span><small> avg/hour</small>
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="gap gap-small"></div>
    </div>
</div>
