<div class="mfp-with-anim mfp-hide mfp-dialog mfp-search-dialog" id="generic_modal">
    <h3 id="title_modal"></h3>
    <div class="row">
        <div class="body_modal">
        </div> 
        <div class="modal_footer" style="margin-top: 1%; float: right;">
            <button type="button" class="mfp-close1 btn btn-success" data-dismiss="modal">{{ 'Ok' | trans({}, 'modal') }}</button>
        </div> 
    </div>
</div>
