<!-- TOP AREA -->
<div class="top-area show-onload">
    <div class="owl-carousel owl-slider owl-carousel-area" id="owl-carousel-slider">
        <div class="bg-holder full text-center text-white">
            <div class="bg-mask"></div>
            <div class="bg-img" {#style="background-image:url({{ asset('bundles/daiquirisite/img/promo/gourmet.jpg')}});"#}></div>
            <div class="bg-front full-center">
                <div class="owl-cap">
                    {#<h1 class="owl-cap-title fittext">Exclusive Gourmet</h1>#}
                    <div class="owl-cap-price"><small>from</small>
                        <h5>$2700</h5>
                    </div><a class="btn btn-white btn-ghost" href="#"><i class="fa fa-angle-right"></i> Explore</a>
                </div>
            </div>
        </div>
        <div class="bg-holder full text-center text-white">
            <div class="bg-mask"></div>
            <div class="bg-img" {#style="background-image:url({{ asset('bundles/daiquirisite/img/promo/8.jpg')}});"#}></div>
            <div class="bg-front full-center">
                <div class="owl-cap">
                    {#<h1 class="owl-cap-title fittext">Moscow</h1>#}
                    <div class="owl-cap-price"><small>from</small>
                        <h5>$2200</h5>
                    </div><a class="btn btn-white btn-ghost" href="#"><i class="fa fa-angle-right"></i> Explore</a>
                </div>
            </div>
        </div>
        <div class="bg-holder full text-center text-white">
            <div class="bg-mask"></div>
            <div class="bg-img"{# style="background-image:url({{ asset('bundles/daiquirisite/img/promo/chofer.jpg')}});"#}></div>
            <div class="bg-front full-center">
                <div class="owl-cap">
                    {#<h1 class="owl-cap-title fittext">Driver Service</h1>#}
                    <div class="owl-cap-price"><small>from</small>
                        <h5>$1900</h5>
                    </div><a class="btn btn-white btn-ghost" href="#"><i class="fa fa-angle-right"></i> Explore</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END TOP AREA  -->
