{# empty Twig template #}
<a title="Generate All voucher Service" class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('genere-voucher-by-sale', object) }}" target="_blank">
    <i class="fa  fa-file-pdf-o"></i> 
    Voucher
</a>