<a title="Set Availability" class="btn btn-sm btn-default delete_link" href="{{ admin.generateObjectUrl('form-rental-house-room-availability', object) }}">
    <i class="fa fa-calendar"></i>
    Availability
</a>